
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content>
    <meta name="keywords" content>

    <title> MRE </title>
    <link rel="icon" type="image/x-icon" href="../static/img/logo/logo3.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all-fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/nice-select.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/jquery.timepicker.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="preloader">
    <div class="loader">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:13;"></span>
        <span style="--i:14;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:20;"></span>
        <div class="loader-plane"></div>
    </div>
</div>


<div class="coming-soon pt-120 pb-90" style="background: url('../static/img/coming-soon/01.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <div class="coming-soon-content text-white text-center">
                    <h1 class="text-white">ما به زودی می آییم</h1>
                    <p class="lead">وب سایت ما در حال ساخت است. ما به زودی با سایت عالی جدیدمان اینجا خواهیم بود،
                         مشترک شوید تا مطلع شوید</p>
                    <div id="countdown" class="countdown-wrap my-4"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-lg-5">
                <form class="newsletter-form position-relative">
                    <input type="text" class="input-newsletter form-control" placeholder="ایمیل خود را وارد کنید" name="email" required autocomplete="off">
                    <button type="submit">اشتراک در</button>
                </form>
            </div>
        </div>
        <div class="coming-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>


<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/modernizr.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/isotope.pkgd.min.js"></script>
<script src="../static/js/jquery.appear.min.js"></script>
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/counter-up.js"></script>
<script src="../static/js/masonry.pkgd.min.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/jquery.timepicker.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/countdown.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>